body{
background-size : 100%;
background-repeat : no-repeat;
opacity : 0.9
}
body-before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(adminbg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter:
}