
.navbar-brand{
    font-weight : bold;
    color:white;

}
.nav-link{
     color: white !important;
}



.nav-link:hover{
         color: white !important;
         background-color : blue;
         border-radius :15px;

}

.active{
    background-color :black;
    border-radius : 30px;
}
